audioop-lts>=0.2.2  # substitution for pyaudioop which is obsolete since Python 3.11
eyed3>=0.9.8
ffmpeg>=1.4
flake8>=7.3.0
ghp-import>=2.1.0
jupyter-book>=1.0.4.post1
mutagen>=1.47.0
openpyxl>=3.1.5
pandas>=2.3.2
pyarrow>=21.0.0
pydub>=0.25.1
yt-dlp>=2025.9.5